@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color Variables */
    --color-green: #05DC75;
    --color-blue: #16339C;
    --color-light-green: #B2F4D4;
    --color-text-green: #37E391;
    --color-box-grey: #292929;
    --color-text-cream: #FDFCFB;
    --color-dark-blue: #10246F;

    /* Design System Variables */
    --background: var(--color-text-cream);
    --foreground: var(--color-dark-blue);
    --primary: var(--color-blue);
    --primary-foreground: var(--color-text-cream);
    --secondary: var(--color-light-green);
    --secondary-foreground: var(--color-box-grey);
    --muted: var(--color-box-grey);
    --muted-foreground: var(--color-text-cream);
    --accent: var(--color-green);
    --accent-foreground: var(--color-dark-blue);
    --destructive: #FF4C4C; /* Example destructive color */
    --destructive-foreground: var(--color-text-cream);
    --border: var(--color-box-grey);
    --input: var(--color-light-green);
    --ring: var(--color-green);
    --chart-1: var(--color-green);
    --chart-2: var(--color-text-green);
    --chart-3: var(--color-blue);
    --chart-4: var(--color-light-green);
    --chart-5: var(--color-dark-blue);
    --radius: 0.5rem;

    /* Font Variables */
    --font-open-sans: 'Open Sans', sans-serif;
  }

  .dark {
    --background: var(--color-dark-blue);
    --foreground: var(--color-text-cream);
    --primary: var(--color-light-green);
    --primary-foreground: var(--color-box-grey);
    --secondary: var(--color-box-grey);
    --secondary-foreground: var(--color-text-cream);
    --muted: var(--color-dark-blue);
    --muted-foreground: var(--color-light-green);
    --accent: var(--color-text-green);
    --accent-foreground: var(--color-text-cream);
    --destructive: #FF4C4C;
    --destructive-foreground: var(--color-text-cream);
    --border: var(--color-dark-blue);
    --input: var(--color-box-grey);
    --ring: var(--color-text-green);
    --chart-1: var(--color-text-green);
    --chart-2: var(--color-green);
    --chart-3: var(--color-blue);
    --chart-4: var(--color-box-grey);
    --chart-5: var(--color-dark-blue);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none; /* Hide scrollbars for Firefox */
}
